body {
  background-color: #000938;
}

h1 {
  font-size: 40px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #e3e3e3;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  border: 1px solid #ededed;
  border-radius: 15px;
  background-color: #f5f5f5;
  color: black;
  padding: 20px 50px;
  width: 300px;
  min-height: 250px;
  margin-bottom: 70px;
}

h2 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

h2 .flag {
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  align-self: center;
}

h2 .title {
  margin-left: 4px;
}

p {
  font-size: 18px;
}

.TR .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/tr.svg');
}

.UK .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/gb.svg');
}

.BE .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/be.svg');
}

.IT .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/it.svg');
}

.GE .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/de.svg');
}

.SP .flag {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/es.svg');
}