body {
  background-color: #000938;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #e3e3e3;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 80px;
  width: 200px;
  min-height: 250px;
  margin-bottom: 70px;
}

h2 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

h2:before {
  position: absolute;
  top: 10px;
  left: -20px;
  content: " ";
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.TR::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/tr.svg');
}

.UK::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/gb.svg');
}

.BE::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/be.svg');
}

.IT::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/it.svg');
}

.GE::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/de.svg');
}

.SP::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/es.svg');
}