body {
  background-color: #000938;
}

.container {
  text-align: center;
  color: #e3e3e3;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: initial;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  height: 50%;
}

.card {
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 80px;
  width: 200px;
  height: 250px;
}

h2 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

h2:before {
  position: absolute;
  top: 10px;
  left: -20px;
  content: " ";
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.TR::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/tr.svg');
}

.UK::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/gb.svg');
}

.BE::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/be.svg');
}

.IT::before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/it.svg');
}